body{
    color:#95541c;
}
th, td {
    padding: 10px;
}
h2{
    color:#43260d;
}
h5{
    color:#43260d;
}
h4{
    text-align: center;
}
.jumbotron{
    margin:0px auto;
    background: #fcd752;
    color:floralwhite;
}
footer{
    background: #fcd752;
    color:#43260d;
}
.card-body{
    background: #f4f2f3;
}
.card-title{
    color:#43260d;
}
.btn:hover{
    background-color:#43260d;
    border-color: #43260d;
}
.btn{
    background-color:#95541c;
    border-color: #95541c;
}
label{
    color:#43260d;
}